.selected-cve-container {
	position: fixed;
	top: 100px;
	left: 20px;
	width: 250px;
	max-height: 300px;
	overflow-y: auto;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.selected-cve-container h3 {
	font-size: 1.2em;
	margin-bottom: 10px;
	text-align: center;
}

.selected-cve-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.remove-button {
	background-color: transparent;
	border: none;
	color: #ff4d4d;
	cursor: pointer;
	font-size: 1.1em;
}

.remove-button:hover {
	color: #ff0000;
}
